.block {

    &--about {
        background: $color_gallery url(images/img_004.jpg) no-repeat center top;
        height: 784px;
        padding: 80px 0;

        @media only screen and (max-width:1023px) {
            height: 684px;
            background-size: auto 100%;
            padding: 46px 0;
        }

        @media only screen and (max-width:767px) {
            background: $color_gallery;
            height: auto;
            padding: 30px 0;
        }

        .title {
            font-size: 32px;
            font-weight:bold;
            line-height: 48px;
            color: $color_arapawa;
            padding-left: $block_margin;
            margin-bottom: 30px;

            @media only screen and (max-width:1365px) {
                padding-left: $block_margin_1024;
            }
            @media only screen and (max-width:1023px) {
                float: left;
                padding-left: 0;
                padding-top: 23px;
                margin-right: 40px;
            }
            @media only screen and (max-width:767px) {
                float: none;
                padding-top: 0;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                margin: 0 0 20px;
            }
        }
        .certificates {
            padding-left: $block_margin;
            margin-bottom: 40px;

            @media only screen and (max-width:1365px) {
                padding-left: $block_margin_1024;
            }
            @media only screen and (max-width:1023px) {
                width: 330px;
                float: left;
                padding-left: 0;
            }
            @media only screen and (max-width:767px) {
                float: none;
                width: 100%;
                text-align: center;
                margin: 0 0 20px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 0;
                line-height: 0;

                li {
                    display: inline-block;
                    margin-right: 4%;

                    @media only screen and (max-width:1023px) {
                        width: 90px;
                        margin-right: 20px;

                        img {
                            max-width: 100%;
                        }
                    }
                    @media only screen and (max-width:767px) {
                        width: 27%;
                        margin: 0 3%;
                    }
                }
            }
        }
        .slogan {
            padding-left: $block_margin;
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;
            margin-bottom: 40px;

            @media only screen and (max-width:1365px) {
                padding-left: $block_margin_1024;
            }
            @media only screen and (max-width:1023px) {
                padding-left: $block_margin_768;
                clear: both;
            }
            @media only screen and (max-width:767px) {
                font-size: 18px;
                margin: 0 0 20px;
            }
        }
        .advantages {
            padding-left: $block_margin;
            margin-bottom: 40px;

            @media only screen and (max-width:1365px) {
                padding-left: $block_margin_1024;
            }
            @media only screen and (max-width:1023px) {
                padding-left: 0;
                width: 400px;
            }
            @media only screen and (max-width:767px) {
                width: 100%;
                margin: 0 0 20px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    padding-left: 24px;
                    font-size: 16px;
                    line-height: 32px;
                    background: url(images/i_check.png) no-repeat 0 10px;

                    @media only screen and (max-width:767px) {
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 8px;
                        background-position: 0 3px;
                    }
                }
            }
        }
        .producer {
            padding-left: $block_margin;

            @media only screen and (max-width:1365px) {
                padding-left: $block_margin_1024;
            }
            @media only screen and (max-width:1023px) {
                padding-left: $block_margin_768;
            }
            @media only screen and (max-width:767px) {
                padding-left: $block_margin_320;
            }

            button {
                margin: 0;
                outline: none;
                border: none;
                display: inline-block;
                padding: 12px 56px 12px 16px;
                background: white url(images/i_arrow-down.png) no-repeat 94% center;
                font-family: $font_base;
                font-size: 14px;
                line-height: 28px;
                color: $color_scorpion;
                text-decoration: none;
                cursor: pointer;
                transition: box-shadow 0.35s ease;

                &.active {
                    background-image: url(images/i_arrow-up.png);
                }

                @media only screen and (max-width:767px) {
                    width: 100%;
                }

                &:hover {
                    box-shadow: 0px 0px 20px 0px rgba(208, 208, 208, 0.85);
                }

                span {
                    display: block;
                    text-align: left;

                    &.image {
                        font-size: 0;
                        line-height: 0;

                        img {
                            max-width:100%;
                        }
                    }
                }
            }
        }
    }
    &--producer-description {
        padding: 0;
        background-color: $color_mercury;
        max-height: 0;
        opacity: 0.2;
        overflow: hidden;
        transition: max-height 0.35s ease, padding 0.35s ease, border 0.35s ease, opacity 0.35s ease;

        &.active {
            padding: 60px 0;
            max-height: 1000px;
            border-top: 2px solid $color_alto;
            opacity: 1;

            @media only screen and (max-width:767px) {
                padding: 30px 0;
            }
        }

        .image {
            padding-left: $block_margin;

            @media only screen and (max-width:1365px) {
                padding-left: $block_margin_1024;
            }
            @media only screen and (max-width:1023px) {
                padding-left: $block_margin_768;
            }
            @media only screen and (max-width:767px) {
                display: none;
            }
        }
        .content {
            float: none;
            margin-left: $block_margin + 290px;
            font-size: 16px;
            line-height: 24px;

            @media only screen and (max-width:1365px) {
                margin-left: $block_margin_1024 + 290px;
            }
            @media only screen and (max-width:1023px) {
                margin-left: $block_margin_768 + 290px;
            }
            @media only screen and (max-width:767px) {
                margin-left: $block_margin_320;
            }
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            line-height: 32px;
            margin-bottom: 30px;

            @media only screen and (max-width:767px) {
                margin: 0 0 20px;
            }
        }
        p {
            margin: 10px 0;
        }
    }
}